/* global styles */
* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* header styles */
header {
  display: flex;
  justify-content: space-between;
}

header button {
  margin: 25px;
  padding: 10px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

header p {
  margin: 35px;
}

/* main styles */
main {
  text-align: center;
  margin: 100px;
}

main h1 {
  margin: 15px;
}

main p {
  margin: 15px;
}

#start-button {
  padding: 10px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

.question-list {
  list-style-type: none;
}

.question-button {
  padding: 10px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

.result-header-correct {
  margin: 20px;
  font-size: 50px;
  color: rgb(15, 179, 15);
}

.result-header-incorrect {
  margin: 20px;
  font-size: 50px;
  color: red;
}

#submit-button {
  padding: 5px;
  margin: 5px 20px;
  border-radius: 5px;
  background-color: purple;
  color: white;
}

#li-style {
  margin: 20px;
  text-align: center;
}

#score-style {
  margin: 10px 0;
  border: 1px solid purple;
  border-radius: 2px;
  padding: 0;
  width: 40%;
  text-align: center;
}
